.container {
    max-width: 600px;
    margin: auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: #f9f9f9;
}
.form-group {
    margin-bottom: 15px;
}
label {
    font-weight: bold;
}
input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #e9ecef;
}
input[readonly] {
    background-color: #e9ecef; /* Color para los campos de solo lectura */
}
.btn {
    padding: 10px 15px;
    background-color: #007bff;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}
.btn:hover {
    background-color: #0056b3;
}